project = "infra-219xxx"
public_key_path = "~/.ssh/xxxuser.pub"
private_key_path = "~/.ssh/xxxuser"
disk_image = "reddit-xxxx"
count = "1"
files_puma_service = "../files/puma.service"
files_deploy_sh = "../files/deploy.sh"
provision_var = "1"
